{% assign pageTitle = "Werk - Label Vier" %}
{% render 'partials/head.liquid', pageTitle: pageTitle %}
<script src="scripts/script.js" defer></script>

<main>
{% render 'partials/header.liquid' %}

  <nav class="nav-breadcrumbs">
    <ol class="list-breadcrumbs">
      <li><a href="/">{{ case.yoast_head_json.schema["@graph"][2].itemListElement[0].name }}</a></li>
      <li><a href="/cases"> {{ case.yoast_head_json.schema["@graph"][2].itemListElement[1].name }}</a></li>
      <li>{{ case.yoast_head_json.schema["@graph"][2].itemListElement[2].name }}</li>
    </ol> 
  </nav>

<section>
    <p>{{ case.content.rendered }}</p>
</section>

<div>
  <p>Meer weten over dit project? Neem contact op met de projectleider:</p>
  {% for user in users %}
    {% if user.id == 4 %}
      <div>
        <a href="{{ user.link }}">
        
        <div>
          <img src="{{ user.avatar_urls.96 }}" alt="{{ user.name }}">
        </div>

        <div>
          <p><strong>{{ user.name }}</strong>, projectleider</p>
          <a href="mailto:vincent@labelvier.nl">vincent@labelvier.nl</a>
        </div>

        </a>
      </div>
    {% endif %}
  {% endfor %}
</div>

<div>
  <h3><strong>Deel </strong>dit blogbericht via</h3>
  <ul>
    <li>
      <a href="https://twitter.com/intent/tweet?text={{ case.title.rendered | url_encode }}&url={{ case.link | url_encode }}&via=LabelVier" target="_blank">        
        <img src="/img/twitter-svgrepo-com.svg" alt="" width="15px" height="15px">
      </a>
    </li>
    <li>
      <a href="https://www.facebook.com/sharer/sharer.php?u={{ case.link | url_encode }}" target="_blank">
        <img src="/img/facebook-svgrepo-com.svg" alt="" width="15px" height="15px">
      </a>
    </li>
    <li>
      <a href="https://wa.me/?text={{ case.title.rendered | url_encode }}%20{{ case.link | url_encode }}" target="_blank">
        <img src="/img/whatsapp-svgrepo-com.svg"alt="" width="15px" height="15px">
      </a>
    </li>
    <li>
      <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ case.link | url_encode }}&title={{ case.title.rendered | url_encode }}" target="_blank">
        <img src="/img/linkedin-svgrepo-com.svg" alt="" width="15px" height="15px">
      </a>
    </li>
  </ul>
</div>


{% render 'partials/footer.liquid' %}
</main>
