{% assign pageTitle = "Werk - Label Vier" %}
{% render 'partials/head.liquid', pageTitle: pageTitle %}
<script src="scripts/script.js" defer></script>

<main>
{% render 'partials/header.liquid' %}

  <nav class="nav-breadcrumbs">
    <ol class="list-breadcrumbs">
      <li><a href="/">{{ case.yoast_head_json.schema["@graph"][2].itemListElement[0].name }}</a></li>
      <li><a href="/cases"> {{ case.yoast_head_json.schema["@graph"][2].itemListElement[1].name }}</a></li>
      <li>{{ case.yoast_head_json.schema["@graph"][2].itemListElement[2].name }}</li>
    </ol> 
  </nav>

  <section>
    <div>
      <img alt="{{ case.title.rendered }}" src="{{ case.yoast_head_json.og_image[0].url }}" width="450" height="400">
    </div>

    <section>
      <h1>{{ case.title.rendered }}</h1>

      <div>
          <a href="">Website</a>
          <a href=""><img src="/img/clock-svgrepo-com.svg" alt="" width="15px" height="15px">Leestijd {{ case.yoast_head_json.twitter_misc["Geschatte leestijd"] }}</a>
          <a href=""><img src="/img/calendar-days-svgrepo-com.svg" alt="" width="15px" height="15px">{{ case.date_gmt | date: "%-d %m %Y" }}</a>
      </div>

      <div class="author-swiper">
        {% for lid in case.acf.case_team %}
        <div>
          {% for user in users %}
          {% if user.id == lid %}

          <a href="">
            <img src="{{ user.avatar_urls.96 }}" alt="{{ user.name }}">
          </a>

          <div>
                <h3>{{ user.acf.user_data.profile_title }}</h3>
                <p>{{ user.acf.user_data.role }}</p>
          </div>

          {% endif %}
          {% endfor %}
        </div>
        {% endfor %}
      </div>
         
    </section>
  </section>

  <section>
      <p>{{ case.content.rendered }}</p>
  </section>

  <div>
    <p>Meer weten over dit project? Neem contact op met de projectleider:</p>
    {% for user in users %}
      {% if user.id == 4 %}
        <div>
          <a href="{{ user.link }}">
          
          <div>
            <img src="{{ user.avatar_urls.96 }}" alt="{{ user.name }}">
          </div>

          <div>
            <p><strong>{{ user.name }}</strong>, projectleider</p>
            <a href="mailto:vincent@labelvier.nl">vincent@labelvier.nl</a>
          </div>

          </a>
        </div>
      {% endif %}
    {% endfor %}
  </div>

  <div>
    <h3><strong>Deel </strong>dit blogbericht via</h3>
    <ul>
      <li>
        <a href="https://twitter.com/intent/tweet?text={{ case.title.rendered | url_encode }}&url={{ case.link | url_encode }}&via=LabelVier" target="_blank">        
          <img src="/img/twitter-svgrepo-com.svg" alt="" width="15px" height="15px">
        </a>
      </li>
      <li>
        <a href="https://www.facebook.com/sharer/sharer.php?u={{ case.link | url_encode }}" target="_blank">
          <img src="/img/facebook-svgrepo-com.svg" alt="" width="15px" height="15px">
        </a>
      </li>
      <li>
        <a href="https://wa.me/?text={{ case.title.rendered | url_encode }}%20{{ case.link | url_encode }}" target="_blank">
          <img src="/img/whatsapp-svgrepo-com.svg"alt="" width="15px" height="15px">
        </a>
      </li>
      <li>
        <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ case.link | url_encode }}&title={{ case.title.rendered | url_encode }}" target="_blank">
          <img src="/img/linkedin-svgrepo-com.svg" alt="" width="15px" height="15px">
        </a>
      </li>
    </ul>
  </div>

{% render 'partials/footer.liquid' %}
</main>
