{% assign pageTitle = "Werk - Label Vier" %}
{% render 'partials/head.liquid', pageTitle: pageTitle %}
<script src="scripts/script.js" defer></script>

<main>
{% render 'partials/header.liquid' %}

<section>
    <h1><strong>Projecten</strong> waar we trots op zijn!</h1>

    <ul class="cases-list">
    {% for case in cases %}
      <li class="cases-list-item">
        <a href="/cases/case/{{ case.id }}">
          <img alt="{{ case.title.rendered }}" src="{{ case.yoast_head_json.og_image[0].url }}" width="450" height="400">
          <section> 
              <h2><span>{{ case.title.rendered }}</span></h2>
              <p>{{ case.content.rendered | strip_html | truncatewords: 32 }}</p>
              <span>
                  lees verder <img src="/img/arrow-right-md-svgrepo-com.svg" alt="" width="15" height="15">
              </span>
          </section>
        </a>
      </li>
    {% endfor %}
    </ul> 
</section>

<nav>
  <a href="">
    <img src="/img/arrow-left-md-svgrepo-com.svg" alt="" width="15px" height="15px">
  </a>
  <a href="">1</a>
  <a href="">2</a>
  <a href="">3</a>
  <a href="">
    <img src="/img/arrow-right-md-svgrepo-com.svg" alt="" width="15px" height="15px">
  </a>
</nav> 


{% render 'partials/footer.liquid' %}
</main>
