{% assign pageTitle = "Werk - Label Vier" %}
{% render 'partials/head.liquid', pageTitle: pageTitle %}
<script src="/scripts/script.js" defer></script>

{% render 'partials/header.liquid' %}
<main>

  <nav class="nav-breadcrumbs">
    <ol class="list-breadcrumbs">
      <li><a href="/">{{ case.yoast_head_json.schema["@graph"][2].itemListElement[0].name }}</a> » </li>
      <li><a href="/cases"> {{ case.yoast_head_json.schema["@graph"][2].itemListElement[1].name }}</a> » </li>
      <li>{{ case.yoast_head_json.schema["@graph"][2].itemListElement[2].name }}</li>
    </ol> 
  </nav>

  <section class="case-hero">
    <div class="case-img">
      <img alt="{{ case.title.rendered }}" src="{{ case.yoast_head_json.og_image[0].url }}" width="450" height="400">
    </div>

    <section class="case-text">
      <h1>{{ case.title.rendered }}</h1>

      <ul class="case-text-info">
        <li><a href="">Website</a></li>

        <li>
          <img src="/img/clock-svgrepo-com.svg" alt="" width="25px" height="25px"> 
          Leestijd {{ case.yoast_head_json.twitter_misc["Geschatte leestijd"] }}
        </li>

        <li>
          <img src="/img/calendar-days-svgrepo-com.svg" alt="" width="25px" height="25px">
          {{ case.date_gmt | date: "%-d %m %Y" }}
        </li>
      </ul>

      <div class="case-team-swiper">
        {% for lid in case.acf.case_team %}
        <div>
          {% for user in users %}
          {% if user.id == lid %}

          <a href="" class="case-team-img">
            <img src="{{ user.avatar_urls.96 }}" alt="{{ user.name }}">
          </a>

          <div class="case-team-info">
            <h3><strong>{{ user.acf.user_data.profile_title }}</strong></h3>
            <p>{{ user.acf.user_data.role }}</p>
          </div>

          {% endif %}
          {% endfor %}
        </div>
        {% endfor %}
      </div>
         
    </section>
  </section>

  <section class="case-content"> 
    {{ case.content.rendered }}
  </section>

  <div class="case-projectleider">
    <p>Meer weten over dit project? Neem contact op met de projectleider:</p>
    {% for user in users %}
      {% if user.id == 4 %}
        <div class="case-projectleider-info">
          <a href="{{ user.link }}" class="case-projectleider-link">
          
          <div class="case-projectleider-img">
            <img src="{{ user.avatar_urls.96 }}" alt="{{ user.name }}">
          </div>

          <div class="case-projectleider-contact">
            <p><strong>{{ user.name }}</strong>, projectleider</p>
            <a href="mailto:vincent@labelvier.nl">vincent@labelvier.nl</a>
          </div>

          </a>
        </div>
      {% endif %}
    {% endfor %}
  </div>

  <div class="case-socialmedia">
    <h3><strong>Deel </strong>dit blogbericht via</h3>
    <ul class="case-socialmedia-list">
      <li>
        <a href="https://twitter.com/intent/tweet?text={{ case.title.rendered | url_encode }}&url={{ case.link | url_encode }}&via=LabelVier" target="_blank">        
          <img src="/img/twitter-svgrepo-com.svg" alt="" width="15px" height="15px">
        </a>
      </li>
      <li>
        <a href="https://www.facebook.com/sharer/sharer.php?u={{ case.link | url_encode }}" target="_blank">
          <img src="/img/facebook-svgrepo-com.svg" alt="" width="15px" height="15px">
        </a>
      </li>
      <li>
        <a href="https://wa.me/?text={{ case.title.rendered | url_encode }}%20{{ case.link | url_encode }}" target="_blank">
          <img src="/img/whatsapp-svgrepo-com.svg"alt="" width="15px" height="15px">
        </a>
      </li>
      <li>
        <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ case.link | url_encode }}&title={{ case.title.rendered | url_encode }}" target="_blank">
          <img src="/img/linkedin-svgrepo-com.svg" alt="" width="15px" height="15px">
        </a>
      </li>
    </ul>
  </div>

</main>
{% render 'partials/footer.liquid' %}
